<div class="row" ng-show="isServerError">
	<div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="isServerError=!isServerError"><span aria-hidden="true">&times;</span></button>{{ serverErrorMessage }}</div>
</div>
<div class="row" data-tap-disabled="true">
	<div ng-class="mapContainerClass" id="map_container">
		<ui-gmap-google-map center='map.center' zoom='map.zoom' events='map.events' options='map.options' ng-dblclick='addMarker($e)'>
			<ui-gmap-window show="map.window.show" coords="map.window.model" options="map.window.options" closeClick="map.window.closeClick()">
	            <div style="color: black">
	                <p>Tyyppi: {{map.window.title}}</p>
	                <p>Kuvaus: {{map.window.description}}</p>
	                <p>Runkohalkaisijan pituus: {{ map.window.trunkLineDiameter}}</p>
	                <div ng-controller='InfoController'>
	                <form ng-submit="sendFireHydrant()">
	                <div class="form-group">
		                <label>Kuvaus</label>
		                <input class="form-control" value="{{map.window.description}}" type="text" ng-model="nMarker.description" name="description" />
	                </div>
	                <div class="form-group">
		                <label>Runkolinjan halkaisija</label>
		                <input class="form-control" type="text" ng-model="nMarker.trunkLineDiameter" value="{{map.window.trunkLineDiameter}}" name="trunk_line_diameter" />
	                </div>
	                <input type="hidden" ng-model="nMarker.latitude" name="latitude" />
	                <input type="hidden" ng-model="nMarker.longitude" name="longitude" />
	                <input type="submit" class="btn btn-primary" />
	            	</form>
	            </div>
	            </div>
        	</ui-gmap-window>
			<ui-gmap-markers models="map.markers" coords="'self'" events="map.markersEvents" icon="'icon'">
        </ui-gmap-markers>
		</ui-gmap-google-map>
	</div>
	<div ng-class="fireHydrantContainerClass" id="fire_hydrants_container">
		<div class="row">
			<ul class="list-group" ng-repeat="fireHydrant in firehydrants">
				<li class="list-group-item" ng-click="findMarker(fireHydrant.id)">{{ fireHydrant.category.name }}</li>
			</ul>
		</div>
	</div>
</div>
<div class="row" id="tools">
	<div class="col-xs-1" id="show_fire_hydrants" title="Näytä palopostit listana">
		<button class="btn btn-default" ng-click="showFireHydrantContainer=!showFireHydrantContainer"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
	</div>
</div>