<div class="row" id="tools">
	<div class="col-xs-1" id="show_fire_hydrants" title="Näytä palopostit listana">
		<button class="btn btn-default" ng-click=""><span class="glyphicon glyphicon-menu-hamburger"></span></button>
	</div>
</div>
<div class="row" ng-show="isServerError">
	<div class="col-md-12"></div>
</div>
<div class="row">
	<div ng-class="mapContainerClass" id="map_container">
		<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
	</div>

	<div ng-class="fireHydrantContainerClass" id="fire_hydrants_container">
	</div>
</div>
<!--
	
-->
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>