body {
	padding-top: 70px;
}

.removable {
	cursor: pointer;
}

.form_error {
	margin-top: 1.5em;
}

.angular-google-map-container { height: 100vh; }

#map_container {
	background: blue;
	height: 100vh;
	padding: 0;
}

#show_fire_hydrants {
	position: absolute;
	z-index: 1;
	top: 7.5em;
	right: -4.5em;
	float: right;
}

#fire_hydrants_container {
	background: gray;
	height: 100vh;
	display: block;
}

#container {
	height: 100vh;
	overflow: hidden;
}

.hidden {
	display: none;
	visibility: hidden;
}